<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<!-- <div class="left">
			<a href="#index" class="link">
				<i class="icon-chevron-left"></i>
			</a>
		</div> -->
		<div class="center sliding">设置</div>
	</div>
</div>
<div class="pages">
	<div data-page="setup" class="page page_setup">
		<div class="page-content">
			<div class="list-block inset">
				<ul>
					<li>
						<a href="#" class="button button-big button-cancel button-round logout">退出登录</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
